.collapse{
    ul{
        list-style-type: none;
        padding: 0;
        
        li {
            a {
                span{
                    margin-left: 10px;
                }
            }
        }
    }
}