header{
    background-color: rgb(56, 56, 56);
    padding: 10px;
    height: 60px;
    color: #fff;
    img {
        width: 40px;
    }
    nav {
        ul {
            li {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}