header{
    background-color: rgb(56, 56, 56);
    padding: 10px;
    height: 60px;
    color: #fff;
    a{
        color: #fff;
        text-decoration: none;
    }
    img {
        width: 40px;
    }
    @import "nav";
}